*.i
*.ii
*.gpu
*.ptx
*.cubin
*.fatbin

# Visual Studio

cdp/.vs
cdp/x64
cdp/cdp/x64

# [CDP] CudaPilot

cdp/cdp/data/heightmaps/*
cdp/cdp/data/ihm/*
cdp/cdp/data/results/*
cdp/cdp/data/tmp/*
cdp/cdp/data/wallrider/*